@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-image: url(../images/background.png);
  background-repeat: repeat-x;
  background-size: contain;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  font-family: "Roboto", sans-serif;
  min-height: 90vh;
}

.hero section:first-child {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem 0 4rem;
}

.hero section:first-child h1 {
  font-weight: 900;
  font-size: 50px;
}

.hero section:first-child p {
  font-size: 25px;
  margin-top: 15px;
}

.form {
  background-color: white;
  padding: 30px;
  font-size: 18px;
  border-radius: 10px;
}

.form form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form form > :last-child {
  margin-top: auto;
}

.form .form-content.erro input,
.form .form-content.erro textarea {
  border: 2px solid #f52e2e;
}


.form .form-content.ok input,
.form .form-content.ok textarea {
  border: 2px solid #00C22B;
}


.form .form-content p {
  margin: 5px 0 15px 3px;
  visibility: hidden;
}

.form .form-content.erro p {
  color: #f52e2e;
  visibility: visible;
}

.form .form-content input,
.form .form-content textarea {
  height: 50px;
  border: 2px solid black;
  display: block;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.form .form-content input::placeholder,
.form .form-content textarea::placeholder {
  font-weight: 700;
}

.form .form-content #message {
  height: 200px;
  resize: none;
}

.form button {
  background-color: #3ccc87;
  width: 100%;
  text-align: center;
  padding: 22px 0;
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
  font-size: 22px;
}
